header {
  background-color: #50e3c2;
  padding: 10px;
  color: rgb(6, 10, 2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 20px;
}
header img {
  width: 200px;
}

header nav {
  display: flex;
  justify-content: center;
}

header nav a {
  color: #000000cc;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
  text-decoration: none;
  margin-inline: 20px;
}

header nav a:hover p,
header nav a.active p {
  color: #ffffff;

  text-decoration: none;
  border-radius: 5px;
}

header button {
  background-color: #04313f;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
nav a.active button {
  background-color: #d62828;
  border-bottom: 1px solid #d62828;
}

header button:hover {
  background-color: #d62828;
}
@media screen and (max-width: 800px) {
  header {
    background-color: #50e3c2;
    padding: 10px;
    color: rgb(6, 10, 2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 20px;
  }
}
