.post-form {
  max-width: 600px;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 12px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.form-textarea,
.form-input {
  width: 98%;
  margin-inline-end: 2rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: border-color 0.2s ease;
}

.form-input:focus,
.form-textarea:focus {
  border-color: #007bff;
  outline: none;
}

.form-textarea {
  min-height: 150px;
  max-height: 300px;
  resize: vertical;
  overflow-y: auto;
}

.submit-btn {
  background-color: #c8291e;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 200px;
}

.submit-btn:hover {
  background-color: #1b333f;
}
.error-message {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}
@media screen and (max-width: 800px) {
  .post-form {
    max-width: 500px;
  }
}
